@model TChannel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑频道</title>

    <script src="~/lib/jquery.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />

</head>

<body style="padding-right:1.2em;padding-left: 1.2em;">
    <form method="post" id="form1" class="layui-form">

        <input type="hidden" value="@Model.Id" name="Id" />

        <div class="layui-tab" style="margin-top:24px">
            <div class="layui-tab-content" style="border:1px solid #e6e6e6;padding-top:25px">
                <div class="layui-tab-item layui-show">



                    <div class="layui-form-item">
                        <label class="layui-form-label">频道名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" value="@Model.Name" required lay-verify="required" lay-reqText="请输入频道名称" placeholder="请输入频道名称" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">排序数字</label>
                        <div class="layui-input-inline">
                            <input type="number" name="Sort" min="0" required lay-verify="required|number" value="@Model.Sort" lay-reqText="请输入排序数字" placeholder="请输入排序数字" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">注释</label>
                        <div class="layui-input-block">
                            <textarea name="Remarks" placeholder="请输入注释" class="layui-textarea">@Model.Remarks</textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="position: fixed;bottom:10px;display:none">
            <button type="submit" id="submit" lay-filter="form1" lay-submit class="layui-btn layui-btn-normal">提交保存</button>
            <button type="button" class="layui-btn layui-btn-primary" onclick="javascript: history.back(-1);">返回上一页</button>
        </div>

    </form>

    <script src="~/lib/layui/layui.js"></script>

    <script>

        $(function () {// 初始化内容
            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            });

            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(form1)', function (data) {

                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        url: "/Article/ChannelSave/",
                        data: $('#form1').serialize(),
                        success: function (result) {
                            if (result == true) {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.onloadDataTable();
                                parent.layer.close(index);
                            };
                        }
                    });

                    return false;
                });
            });
        });


    </script>

</body>
</html>
