<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".br" mimeType="application/octet-stream" />
		</staticContent>

		<rewrite>
			<rules>
				<rule name="Serve subdir">
					<match url=".*" />
					<action type="Rewrite" url="wwwroot\{R:0}" />
				</rule>
				<rule name="SPA fallback routing" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="wwwroot\" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>