@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理中心</title>

    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />

</head>

<body style="padding-right:1.2em;padding-left: 1.2em;">

    <div style="margin-top:20px">
        <span class="layui-breadcrumb" lay-separator=">">
            <a href="/Home/Center/">首页</a>
            <a>管理中心</a>
            <a><cite>站点信息</cite></a>
        </span>
    </div>
    <hr class="layui-bg-cyan" style="margin-top:8px">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>站点信息</legend>
    </fieldset>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">ServerName</div>
                    <div class="layui-card-body">
                        服务器名称：@Environment.MachineName
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">IPAddress</div>
                    <div class="layui-card-body">
                        服务器IP：@ViewBag.LocalIpAddress
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">SystemType</div>
                    <div class="layui-card-body">
                        操作系统：@Environment.OSVersion.ToString()
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">HttpPort</div>
                    <div class="layui-card-body">
                        外部端口：@ViewBag.LocalPort
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">FilePath</div>
                    <div class="layui-card-body">
                        目录物理路径：@Environment.CurrentDirectory
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">CPU</div>
                    <div class="layui-card-body">
                        服务器CPU：@(Environment.ProcessorCount.ToString())核
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">Memory</div>
                    <div class="layui-card-body">
                        本网站占用内存：@(((Double)GC.GetTotalMemory(false) / 1048576).ToString("N2") + "M")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/layui/layui.js"></script>

    <script>
        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        });
    </script>
</body>
</html>
