@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据综合管理系统</title>
    <script src="~/lib/layui/layui.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script>

        $(function () {// 初始化内容
            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            });
        });

        function Show(id) {
            window.frames['mainframe'].location.href = "/Home/Center/";

            for (var i = 0; i < 2; i++) {
                var divCont = document.getElementById('exp' + (i));
                if (i == id) {
                    divCont.style.display = 'block';
                }
                else {
                    divCont.style.display = 'none';
                }
            }
        }

        function MenuShow(id) {
            var time = setTimeout(function () {
                Show(id);
            }, 200);
        }

    </script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"><img src="~/Admin/images/logo.png" style="width:180px;height:31px" /></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-this"><a href="javascript:MenuShow(0)">内容管理</a></li>
                <li class="layui-nav-item"><a href="javascript:MenuShow(1)">系统设置</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/Admin/images/touxiang.jpg" class="layui-nav-img" />
                        您好，@ViewBag.NickName
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/User/Logout/">注销登录</a></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree" id="exp0" style="display: block;">
                    @{
                        int i = 0;
                        foreach (var item in (List<TChannel>)ViewData["channelList"])
                        {
                            i = i + 1;

                            <li class="layui-nav-item">
                                <a class="" href="javascript:;">@item.Name</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="/Article/ArticleIndex?ChannelId=@item.Id" target="mainframe">文章管理</a></dd>
                                    <dd><a href="/Article/CategoryIndex?ChannelId=@item.Id" target="mainframe">栏目管理</a></dd>
                                </dl>
                            </li>
                        }
                    }
                </ul>

                <ul class="layui-nav layui-nav-tree" id="exp1" style="display: none;">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">系统用户</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/User/UserIndex" target="mainframe">所有用户</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">频道管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Article/ChannelIndex" target="mainframe">所有频道</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">友链管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Link/LinkIndex" target="mainframe">所有友链</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">网站信息</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Home/WebInfo" target="mainframe">信息维护</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="padding-bottom: 0px">
            <!-- 内容主体区域 -->
            <div style="height:100%">
                <iframe id="mainframe" name="mainframe" frameborder="0" src="/Home/Center/" style="width:100%;height:100%"></iframe>
            </div>
        </div>


    </div>

</body>
</html>