@inherits LayoutComponentBase
@using System.IdentityModel.Tokens.Jwt;
@using AdminShared.Models.User

<Layout Style="min-height: 100vh; ">

    <Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse Style="overflow: auto;height: 100vh;position: fixed;left: 0;z-index:2">
        <div class="logo" style="height: 32px;margin: 16px;display:flex">
            <img src="img/logo.png" style="height:29px" />
            <h1 style="color:#fff;font-size:20px;margin-left:17px">NetEngine</h1>
        </div>

        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">

            <SubMenu TitleTemplate=subArticle>
                @foreach (var channel in channelKVList)
                {
                    <SubMenu Key=@("channel"+ channelKVList.IndexOf(channel)) Title="@channel.Value!.ToString()">
                        <MenuItem><a href="article/@channel.Key">文章管理</a></MenuItem>
                        <MenuItem> <a href="category/@channel.Key">栏目管理</a></MenuItem>
                    </SubMenu>
                }
            </SubMenu>

            <SubMenu TitleTemplate=subSystemSet>
                <MenuItem><a href="user">用户管理</a></MenuItem>
                <MenuItem><a href="channel">频道管理</a></MenuItem>
                <MenuItem><a href="link">友链管理</a></MenuItem>
                <MenuItem><a href="site">信息维护</a></MenuItem>
            </SubMenu>

        </Menu>
    </Sider>

    <Header Class="site-layout-background" Style="height: 48px;padding: 0 20px;line-height: 44px;position:fixed;width:100%;right:0;">
        <div style="float: right;">
            <Avatar Size="33" Icon="user" Style="background-color: #87d068" />
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem OnClick="Logout">
                            退出登录
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    @user.NickName  <Icon Type="down" Style="margin-left: 5px;font-size:1.1em;" />
                </ChildContent>
            </Dropdown>
        </div>
    </Header>

    <Layout Class="site-layout" Style=@leftLayoutStyle>
        <Content Style="margin:0 0px;margin-top:4px;">
            <ReuseTabs TabPaneClass="MainTabPane" Class="MainTab"></ReuseTabs>
        </Content>
    </Layout>

</Layout>

<style>
    .MainTab > :first-child {
        width: 90%;
        padding-left: 5px;
    }
</style>

@code {
    string leftLayoutStyle = "margin-left:200px";

    RenderFragment subSystemSet =
    @<span>
        <Icon Type="control" Theme="outline" />
        <span>系统设置</span>
    </span>;

    RenderFragment subArticle =
    @<span>
        <Icon Type="read" Theme="outline" />
        <span>文章管理</span>
    </span>
    ;

    bool collapsed;

    void onCollapse(bool collapsed)
    {
        Console.WriteLine(collapsed);

        if (collapsed)
        {
            leftLayoutStyle = "margin-left:80px";

        }
        else
        {
            leftLayoutStyle = "margin-left:200px";

        }

        this.collapsed = collapsed;
    }

    public static DtoUser user = new();


    override protected void OnInitialized()
    {
        Authentication();
        GetChannelList();
    }

    private List<DtoKeyValue> channelKVList = new();
    async void GetChannelList()
    {
        var retData = await Http.GetFromJsonAsync<List<DtoKeyValue>>("Article/GetChannelKVList");

        if (retData != null)
        {
            channelKVList = retData;
        }

        StateHasChanged();
    }

    private async void Authentication()
    {
        var authorization = LocalStorage.GetItemAsString("Authorization");

        if (string.IsNullOrEmpty(authorization))
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            var securityToken = new JwtSecurityToken(authorization);

            var expTimeL = Convert.ToInt64(securityToken.Claims.ToList().Where(t => t.Type == "exp").FirstOrDefault()!.Value);

            var expTime = TimeZoneInfo.ConvertTimeToUtc((new DateTime(1970, 1, 1)).ToLocalTime()).ToLocalTime().AddSeconds(expTimeL);

            if (expTime < DateTime.UtcNow)
            {
                NavigationManager.NavigateTo("login");
            }
            else
            {
                try
                {
                    user = (await Http.GetFromJsonAsync<DtoUser>("User/GetUser"))!;
                }
                catch
                {
                    LocalStorage.RemoveItem("Authorization");
                    NavigationManager.NavigateTo("login");
                }

                StateHasChanged();
            }
        }
    }


    private void Logout()
    {
        LocalStorage.RemoveItem("Authorization");

        NavigationManager.NavigateTo("login");
    }

}