server {
    listen 80;
    listen [::]:80;
    server_name {{Host.AdminApp.Domain}};
    return 301 https://{{Host.AdminApp.Domain}}$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{Host.AdminApp.Domain}};

    ssl_certificate {{Host.AdminApp.CertificateFile}};
    ssl_certificate_key {{Host.AdminApp.CertificateKeyFile}};

    add_header Strict-Transport-Security "max-age=31536000" always;

    root {{DeployRoot}}/adminapp;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
