@inherits LayoutComponentBase

<Layout>
    <Header Class="header" style="display:flex;margin-left:-30px">

        <div class="logo"><img src="/img/logo.png" style="width:180px;height:31px" /></div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new []{"1"})>
            <MenuItem Key="1">内容管理</MenuItem>
            <MenuItem Key="2">系统设置</MenuItem>
        </Menu>


        <div style="margin-left:70%">
            <Avatar Src="/img/touxiang.jpg" Size="large" />

            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <a href="/User/Logout/">修改密码</a>

                        </MenuItem>
                        <MenuItem>
                            <a href="/User/Logout/">注销登录</a>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a class="ant-dropdown-link" @onclick:preventDefault style="color: rgba(255,255,255,.7)">
                        您好，UserName  <Icon Type="down" Style="margin-left: 5px;font-size:1.1em;" />
                    </a>
                </ChildContent>
            </Dropdown>
        </div>


    </Header>
    <Layout>
        <Sider Width="200" Class="site-layout-background">
            <Menu Mode="MenuMode.Inline"
                  DefaultSelectedKeys=@(new[] {"1"})
                  DefaultOpenKeys=@(new[] {"sub1"})
                  Style="height: 100%; border-right: 0;">
                @{
                    RenderFragment sub1Title =
                    @<span>
                        <Icon Type="user" Theme="outline" />
                        subnav 1
                    </span>;
                }
                <SubMenu Key="sub1" Title="资讯中心">
                    <MenuItem Key="1">文章管理</MenuItem>
                    <MenuItem Key="2">栏目管理</MenuItem>
                </SubMenu>
                @{
                    RenderFragment sub2Title =
                    @<span>
                        <Icon Type="laptop" Theme="outline" />
                        subnav 2
                    </span>;
                }
                <SubMenu Key="sub2" Title="系统用户">
                    <MenuItem Key="5"><a href="/user">所有用户</a></MenuItem>
                </SubMenu>
                @{
                    RenderFragment sub3Title =
                    @<span>
                        <Icon Type="notification" Theme="outline" />
                        subnav 3
                    </span>;
                }
                <SubMenu Key="sub3" Title="频道管理">
                    <MenuItem Key="9">所有频道</MenuItem>
                </SubMenu>

                <SubMenu Key="sub4" Title="友链管理">
                    <MenuItem Key="10">所有友链</MenuItem>
                </SubMenu>

                <SubMenu Key="sub5" Title="网站信息">
                    <MenuItem Key="11">信息维护</MenuItem>
                </SubMenu>
            </Menu>
        </Sider>

        @Body


    </Layout>
</Layout>

<style>
    #components-layout-demo-top-side-2 .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    .site-layout-background {
        background: #fff;
    }
</style>



