@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>栏目管理</title>
    <link href="~/Admin/css/style.css" rel="stylesheet" />

    <script src="~/lib/jquery.js"></script>

    <script src="~/lib/sweetalert.min.js"></script>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/datatables/datatables.min.js"></script>
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />

    <script>


        function DeleteCategory(id) {

            var dataJson = { id: id };

            swal({
                title: "Please confirm",
                text: "确认删除",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (data) {
                if (data) {

                    $.ajax({
                        type: "POST",//方法类型
                        url: "/Category/Category_Delete/",
                        data: dataJson,
                        success: function (data) {
                            if (data.status == true) {
                                swal(data.msg, {
                                    icon: "success",
                                    dangerMode: true,
                                }).then(function (data) {
                                    if (data) {
                                        //刷新表格数据并保留分页信息
                                        $('#dtCategoryList').DataTable().ajax.reload(null, false);
                                    }
                                });


                            }
                            else {
                                swal("Red marks are required!", {
                                    icon: "error",
                                    text: data.msg
                                });
                            }
                        }
                    });
                }
            });
        }


        function GetCategoryList() {


            $('#dtCategoryList').DataTable().destroy();


            $("#dtCategoryList").DataTable({
                "ajax": {
                    url: "/Category/GetCategoryList",
                    data: {ChannelId:@(ViewBag.ChannelId)},
                    type: "get",
                },
                "columns": [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "urlrole" },
                    { "data": "remark" },
                    { "data": "sort" },
                    { "data": "sort" },
                    { "data": "createtime" },
                    { "data": null }
                ],
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [7],
                        "render": function (data, type, row) {
                            return "<a href='/Category/Category_Edit?id=" + data.id + "&channelid=" + data.channelid + "'>编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:DeleteCategory(" + data.id + ");\"'>删除</a>";
                        }
                    }
                ],
                "searching": true,
                "paging": true,

                "pageLength": 15

            })

        }


        $(function () {// 初始化内容
            GetCategoryList();
        });
    </script>
</head>

<body class="mainbody">
    <form name="form1" method="post" id="form1">
        <!--导航栏-->
        <div class="location" style="box-sizing:initial">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Home/Center/" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <span>客户管理</span>
            <i class="arrow"></i>
            <span>所有客户</span>
        </div>
        <!--/导航栏-->
        <!--工具栏-->
        <div class="toolbar-wrap" >
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                        <li><a class="add" href="/Category/Category_Edit/?id=0&channelid=@(ViewBag.ChannelId)" style="display:inline-table"><i></i><span>新增</span></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!--/工具栏-->
        <!--列表-->

        <table class="table table-striped table-bordered" data-toggle="table" id="dtCategoryList" style="width:100%">
            <thead>
                <tr>
                    <th width="5em">编号</th>
                    <th width="7em">名称</th>
                    <th width="7em">Url别名</th>
                    <th width="30em">注释</th>
                    <th width="7em">父级栏目</th>
                    <th width="3em">排序</th>
                    <th width="13em">创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>

        </table>
        <br />

        <!--/列表-->
    </form>
</body>
</html>
