user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 65535;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server_names_hash_bucket_size 1024;
    proxy_buffer_size 1024k;
    proxy_buffers 32 1024k;
    client_max_body_size 10240m;
    proxy_ssl_server_name on;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    proxy_http_version 1.1;

    access_log off;
    #access_log /var/log/nginx/access.log;

    gzip on;

    map $http_connection $connection_upgrade {
        "~*Upgrade" $http_connection;
        default keep-alive;
    }

    include /etc/nginx/conf.d/*.conf;
}
