@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>友链管理</title>


    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/sweetalert.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.min.js"></script>
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />


</head>

<body style="padding-right:1.2em;padding-left: 1.2em;">
    <form name="form1" method="post" id="form1">

        <div style="margin-top:20px">
            <span class="layui-breadcrumb" lay-separator=">">

                <a href="javascript:history.back(-1);">返回上一页</a>
                <a href="/Home/Center/">首页</a>
                <a href="">友链管理</a>
                <a><cite>所有友链</cite></a>
            </span>
        </div>
        <hr class="layui-bg-cyan" style="margin-top:8px">

        <div style="margin-top:10px">
            <button type="button" class="layui-btn" onclick="showLinkEdit('')">
                <i class="layui-icon">&#xe608;</i> 新增
            </button>
        </div>


        <div style="margin-top:-2.3em">

            <table class="table table-striped table-bordered" data-toggle="table" id="dtList" style="width:100%">
                <thead>
                    <tr>
                        <th width="15%">名称</th>
                        <th width="35%">Url</th>
                        <th width="10%">排序</th>
                        <th width="10%">创建时间</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>

            </table>
        </div>

    </form>

    <script src="~/lib/layui/layui.js"></script>
    <script>
        function DeleteLink(id) {

            var dataJson = { id: id };

            swal({
                title: "Please confirm",
                text: "确认删除",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function (data) {
                if (data) {

                    $.ajax({
                        type: "POST",
                        url: "/Link/LinkDelete/",
                        data: dataJson,
                        success: function (data) {
                            if (data.status == true) {
                                swal(data.msg, {
                                    icon: "success",
                                    dangerMode: true,
                                }).then(function (data) {
                                    if (data) {
                                        //刷新表格数据并保留分页信息
                                        $('#dtList').DataTable().ajax.reload(null, false);
                                    }
                                });


                            }
                            else {
                                swal("Red marks are required!", {
                                    icon: "error",
                                    text: data.msg
                                });
                            }
                        }
                    });
                }
            });
        }

        function GetLinkList() {


            $('#dtList').DataTable().destroy();


            $("#dtList").DataTable({
                "ajax": {
                    url: "/Link/GetLinkList",
                    type: "get",
                },
                "columns": [
                    { "data": "name" },
                    { "data": "url" },
                    { "data": "sort" },
                    { "data": "createTime" },
                    { "data": null }
                ],
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [4],
                        "render": function (data, type, row) {
                            return "<a href=\"javascript:showLinkEdit('" + data.id + "')\">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:DeleteLink('" + data.id + "');\"'>删除</a>";
                        }
                    }
                ],
                "searching": true,
                "paging": true,
                "order": [[2, "asc"]],
                "lengthChange": false,
                "pageLength": 15
            })

        }

        $(function () {// 初始化内容

            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            });

            layui.use('layer', function () {
                var layer = layui.layer;
            });

            GetLinkList();
        });

        function onloadDataTable() {
            $('#dtList').DataTable().ajax.reload(null, false);
        }

        function closeLoading() {
            layer.close(loading);
        }

        function showLinkEdit(linkId) {
            layer.open({
                type: 2,
                area: ['630px', '505px'],
                title: "友链编辑",
                content: "/Link/LinkEdit?id=" + linkId,
                btn: ['保存', '取消'],
                yes: function (index, layero) {
                    var id = 'layui-layer-iframe' + index;
                    document.getElementById(id).contentWindow.$("#submit").click();
                }
            });
        }
    </script>

</body>
</html>
