sudo systemctl daemon-reload

sudo systemctl enable {{ProjectNameLower}}-admin-webapi.service
sudo systemctl enable {{ProjectNameLower}}-client-webapi.service
sudo systemctl enable {{ProjectNameLower}}-task-service.service

sudo systemctl start {{ProjectNameLower}}-admin-webapi.service
sudo systemctl start {{ProjectNameLower}}-client-webapi.service
sudo systemctl start {{ProjectNameLower}}-task-service.service
