@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh">
<head>
    <meta content="text/html; charset=utf-8" />
    <title>管理员登录</title>
    <script src="~/lib/jquery-3.6.0.min.js"></script>
    <script src="~/lib/sweetalert.min.js"></script>

    <script>
        function loginAction() {
            $("#btnSubmit").text("正在登录,请稍候...");

            var name = $("#txtName").val();
            var pwd = $("#txtPassWord").val();

            $.ajax({
                type: 'POST',
                url: "/User/LoginAction",
                data: { name: name, pwd: pwd },
                success: function (Data) {
                    if (Data.status) {
                        location.replace("/");
                    }
                    else {
                        swal({
                            icon: "error",
                            text: "用户名和密码不匹配，请重试！",
                        }).then(
                            function () {
                                location.replace("")
                            });
                    }
                }
            });
        }

        function nameEnter(e) {
            e = e || window.event;
            var code = e.keyCode;
            if (code == 13) {
                document.getElementById('PassWord').focus()
            }
        }

        function passWordEnter(e) {
            e = e || window.event;
            var code = e.keyCode;
            if (code == 13) {
                loginAction();
            }
        }
    </script>

    <style>
        .input {
            margin-top: 20px;
            display: block;
            width: 100%;
            padding-left: 10px;
            height: 38px;
            border-color: #eee;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="margin:0;font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;">
    <div style="width: 100vw;height: 100vh;text-align: center;background-image: url('/img/bg.svg');">
        <div style="min-width: 360px;display: inline-block;padding-top: calc(50vh - 170px);">
            <h1 style="font-weight: 400">任务调度系统登录</h1>
            <input type="text" id="txtName" autocomplete="off" class="input" placeholder="用户名" onkeyup="nameEnter(event)">
            <input type="password" id="txtPassWord" autocomplete="off" class="input" placeholder="密码" onkeyup="passWordEnter(event)">
            <button id="btnSubmit" onclick="loginAction()" type="button" class="layui-btn" style="width:100%;margin-top:20px;height: 38px;line-height: 38px;border: 1px solid transparent;padding: 0 18px;background-color: #009688;color: #fff;white-space: nowrap;text-align: center;font-size: 14px;border-radius: 2px;cursor: pointer;">登录</button>
        </div>
    </div>
</body>

</html>