@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员登录</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/sweetalert.min.js"></script>


    <script>
        function loginAction() {
            $("#btnSubmit").text("正在登录,请稍候...");

            var name = $("#txtName").val();
            var pwd = $("#txtPassWord").val();

            $.ajax({

                type: 'POST',
                url: "/User/LoginAction/",
                data: { name: name, pwd: pwd },
                success: function (Data) {
                    if (Data.status) {
                        location.replace("/");
                    }
                    else {

                        swal({
                            icon: "error",
                            text: "用户名和密码不匹配，请重试！",
                        }).then(
                            function () {
                                location.replace("")
                            });
                    }

                }
            });

        }

        function nameEnter(e) {
            e = e || window.event;
            var code = e.keyCode;
            if (code == 13) {
                document.getElementById('PassWord').focus()
            }
        }

        function passWordEnter(e) {
            e = e || window.event;
            var code = e.keyCode;
            if (code == 13) {
                loginAction();
            }
        }
    </script>

</head>

<body>
    <div style="width: 100vw;height: 100vh;text-align: center;background-image: url('../..//Admin/images/bg.svg');">
        <div style="min-width: 360px;display: inline-block;padding-top: calc(50vh - 170px);">
            <h1>任务调度系统登录</h1>
            <input type="text" id="txtName" lay-verify="title" autocomplete="off" placeholder="用户名" class="layui-input" style="margin-top:20px" onkeyup="nameEnter(event)">
            <input type="password" id="txtPassWord" name="title" lay-verify="title" autocomplete="off" placeholder="密码" class="layui-input" style="margin-top:20px" onkeyup="passWordEnter(event)">
            <button id="btnSubmit" onclick="loginAction()" type="button" class="layui-btn" style="width:100%;margin-top:20px">登录</button>
        </div>
    </div>


</body>


</html>